/* LoginPage.css */


  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
    background-color: #f8f9fa;
  }
  
  .login-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    /* border-bottom: 3px solid #0d75f8; */
    /* border-left: 3px solid #0d75f8;
    border-right: 3px solid #0d75f8; */
    
  }
  
  .login-form h2 {
    
    font-family: 'Lato', sans-serif;
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .btn {
    display: block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  