/* 
.hero-banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED
    ;
}

.container {
    display: flex;
    align-items: center;
    width: 80%;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}

.text-section h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.text-section p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.text-section .appointment-btn {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    height: auto;
} */



.banner-container {
    height: 100vh;
    position: relative;
    width: 100%;
}

.banner-image {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.6;
}

.banner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 9;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;  
    font-family: 'Lato', sans-serif;
}

.banner-text {
    font-size: 50px;
    color: white;
    font-weight: bold;
    margin: 10px 0px;
    transform: translateY(50%);
    line-height: 2;
}

.banner-text-2 {
    font-size: 20px;
    color: white;
    margin: 20px 0px;
     letter-spacing: 2px;
    width: 40%;
    text-align: center;
    transform: translateY(50%);
}

#banner-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0d75f8;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 20px;
    transform: translateY(50%);
    transition: background-color 0.3s, color 0.3s;
}

#banner-button:hover {
    background-color: #111;
    color: #fff;
}