
.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
    background-color: #ffffff;
}

.navbar .logo {
    font-size: 24px;
    display: flex;
    font-weight: bold;
}
.logo img{
    opacity: 0.1;
}


.navbar .nav-items {
    display: flex;
    list-style: none;
}

.navbar .nav-items li {
    margin: 0 15px;
    cursor: pointer;
}

.navbar .login-btn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}


    .logo img {
        width: 60px;
        height: 60px;
    }   
