/* Footer.css */

.footer {
    background-color: #0d75f8;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    
  }
  
  .footer-content {
    
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: black;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    color: #00bcd4;
  }
  
  .footer-bottom {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  